@tailwind base;
@tailwind components;
@tailwind utilities;
 

@font-face {
	font-family: 'GeneralSansVariable';
	src: url('/fonts/GeneralSansVariable.ttf');
}

.bg-cardio-computer {
	background-image: url('/bg-cardio-computer-mobile.png');
	background-size: fill;
	background-position: right;
}


.bg-cardio-irm {
	background-image: url('/bg-cardio-irm-mobile.png');
	background-size: cover;
	background-position: center;
}
