@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/fonts/GeneralSans_Complete/Fonts/WEB/css/general-sans.css');

@font-face {
	font-family: 'GeneralSans-Variable';
	src: url('/fonts/GeneralSansVariable.ttf') format('truetype-variations'),
		url('/fonts/GeneralSansVariable.woff2') format('woff2-variations'),
		url('/fonts/GeneralSansVariable.woff') format('woff-variations'),
		url('/fonts/GeneralSansVariable.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.bg-cardio-computer {
	background-image: url('/cardio1.png');
	background-size: 100%;
	background-position: left;
	filter: grayscale(50%);
}

.bg-cardio-computer::before {
  content: ''; /* Pseudo-élément requis pour afficher quelque chose */
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(7, 15, 30, 0.50);; /* Couleur de fond semi-transparente, ajustez l'opacité selon vos besoins */
  z-index: -1; /* Place le pseudo-élément derrière le contenu */
}

.bg-cardio-irm {
	background-image: url('/bg-cardio-irm.webp');
	background-size: cover;
	background-position: center;
}
