@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'GeneralSansVariable';
	src: url('/fonts/GeneralSansVariable.ttf');
}

#introduction, #objectives, #services, #statistics, #team, #contact {
  scroll-margin-top: 100px;
}

/* .bg-cardio-computer-mobile {
	background-image: url('/bg-cardio-computer-mobile.png');
	background-size: fill;
	background-position: right;
} */


.bg-cardio-computer-mobile {
	background-image: url('/bg-computer-mobile.png');
	background-size: 100%;
	background-position: center;
	width: 100vw;
}

.bg-cardio-computer-desktop {
	background-image: url('/bg-computer-desktop.png');
	background-size: 100%;
	width: 100vw;
}


 /* IRM */
.bg-cardio-irm-mobile {
	background-image: url('/bg-cardio-irm-mobile.png');
	background-size: cover;
	background-position: center;
}

.bg-cardio-irm-desktop {
	background-image: url('/bg-cardio-irm-desktop.png');
	background-size: cover;
	background-position: center;
	width: 100vw;
}
